// 常用背景
$long-background-color:#fff;
$home-background-color:#E6E6E6;
$min-background-color:#15253A; //左侧导航背景
$black-background-color:#101D2E; //导航展开背景
$header-background-color:#0270C1; // 头部
// 常用字体大小
$font-size-small:12px;
$font-size-middle:14px;
$font-size-big:16px;
$font-size-large:18px;
// 字体颜色
$font-color-white:#fff;
$font-color-long:#343434;
$font-color-orange:#F2922F;
$font-color-green:#5ADAD0;
$font-color-gray:#999999;